* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body {
    font-family: 'PT Sans', sans-serif;
}

.main {
    background-color: #EEEEEE;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;    
    transition: transform .5 ease;    
}

.page--inactive {
    transform: translateX(100vw);
}

.page--active {
    transform: translateX(0);
    transition: transform 1s ease;    
}
.page--active.page--landing {
    transform: translateX(0);
}

button {
    transition: transform .3s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

.page-header {
    width: 100%;
    display: flex;
    position: relative;
}

.page-header__title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);    
}

.page-header__title h3 {
    font-weight: 400;
    font-size: 1.25rem;
    letter-spacing: 10%;
}

.navMenu-openBtn {
    background: none;
    border: none;    
    width: 2.2rem;
    height: 2.2rem;
    cursor: pointer;
    margin: 1rem 0 0 1rem;
}

.navMenu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    width: 100%;
    height: 100%;
    transition: transform .3s ease;
}

.navMenu-icon__row {
    background-color: black;
    width: 100%;
    margin-bottom: .125rem;
    transition: transform .3s ease, scale .3s ease;
    transform-origin: center;
}

.navMenu-icon:hover .navMenu-icon__row {
    transform: scale(1.1);
    border-radius: 5%;

}

.navMenu-icon:active .navMenu-icon__row:nth-child(odd) {
    transform: scale(1.05) rotate(3deg);
}

.navMenu-icon:active .navMenu-icon__row:nth-child(even) {
    transform: scale(1.05) rotate(-3deg);
}

.navMenu-icon__row--1 {
    height: .75rem;
}

.navMenu-icon__row--2 {
    height: .5rem;
}

.navMenu-icon__row--3 {
    height: .250rem;
}

.navMenu-icon__row--4 {
    height: .125rem;
}

.abortTimer-btn {
    margin: auto 0 2rem 0;
    border: 2px solid rgba(34, 34, 34, 0.6);
    border-radius: .375rem;
    width: 8.25rem;
    height: 2.5rem;
    color: rgba(34, 34, 34, 0.6);
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: .1;
    cursor: pointer;
}

/* Landingpage */
.page--landing {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform .1s ease;
}

.landing-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.landing-animatedLogo {
    display: flex;
    flex-direction: row;
    margin-bottom: .75rem;

}

.line {
    background-color: white;
    height: 2.2rem;
    margin-left: .125rem;
    transform: translateX(-100%);
    opacity: 1;
}

.line--1 {
    width: .125rem;
}

.line--2 {
    width: .250rem;
}

.line--3 {
    width: .5rem;
}

.line--4 {
    width: .75rem;
}


.landing-title {
    font-family: 'Righteous';
    font-size: 1.25rem;
    letter-spacing: 0.1em;
    font-weight: 400;
    color: white;    
    opacity: 0;
}

.landing-tagline {
    font-size: .875rem;
    letter-spacing: 0.1em;
    font-weight: 400;
    color: white;
    margin: .75rem;
    opacity: 0;
}


/* Set timer-page */
.page--setTimer {
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setTimer-wrapper {
    width: 75%;
    height: 8rem;    
    display: flex;
    flex-direction: row;
    transform: translateY(240%);
}

.setTimer-column {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;    
}

.setTimer-chevron {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: transform .2s ease;
}

.setTimer-chevron:active {
    cursor: pointer;
    transform: scale(1.4);
}


/* 
.setTimer-column--left {}
 */

.setTimer-column--middle {
    display: flex;
    flex-direction: column;
}

.setTimer-number {
    font-size: 5rem;
    font-weight: 700;
}

.setTimer-label {
    font-size: 1rem;
    font-weight: 400;
}

/* 
.setTimer-column--right {}
 */

.setTimer-chevron--decrease {
    margin-left: 1rem;
    margin-right: auto;
}

.setTimer-chevron--increase {
    margin-left: auto;
    margin-right: 1rem;
}

.setTimer-btn {
    margin: auto 0 2rem 0;
    border: 2px solid black;
    border-radius: .375rem;
    width: 17.5rem;
    height: 3rem;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
}

.setTimer-btn:active {
    transform: scale(.9);
    transition: transform .2s ease;
}

/* analog timer-page */
.page--analog {
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page--analog__timerContainer {
    width: 18rem;
    aspect-ratio: 1;    
    margin: auto;
    position: relative;
    transform: translateY(25%);
}

.analog-timer {
    width: 100%;
    aspect-ratio: 1;    
    border-radius: 50%;
    position: relative;
}

.analog-timer__hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom center;
    transform: translateX(-50%) rotate(0deg);
    border-radius: .125rem .125rem 0 0;
}

.analog-timer__hand--minutes {
    background-color: #000000;
    width: .25rem;
    height: 7rem;
}

.analog-timer__center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.analog-timer__minutes--center {
    background-color: #000000;
    width: 1rem;
    height: 1rem;
    z-index: 1;
    border-radius: 50%;
}

.analog-timer__hand--seconds {
    background-color: #555555;
    width: .125rem;
    height: 7.8rem;
    z-index: 2;
    transform-origin: bottom center;
}
.analog-timer__hand--seconds.start {
    animation: rotateSeconds 60s linear infinite;
}

.analog-timer__seconds--center {
    background-color: #555555;
    width: .625rem;
    height: .625rem;
    z-index: 5;
    border-radius: 50%;
}

.analog-timer__mark {
    margin: none;
    padding: none;
    position: absolute;
    width: .125rem;
    height: .625rem;
    border-radius: .125rem .125rem .125rem .125rem;
    background-color: #222222;
    top: 48.3%;
    left: 49.6%;
    transform-origin: center center;
    transform: rotate(0deg) translateY(-50%);
}

.analog-timer__mark:nth-of-type(5n) {
    width: .325rem;
}

/* digital timer-page */
.page--digital {
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page--digital__timerContainer {
    width: 18rem;
    aspect-ratio: 1;    
    margin: auto;
    position: relative;
    transform: translateY(25%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#digital-timer-display {
    font-size: 5rem;
    font-style: bold;
    font-weight: 700;
    text-align: center;
    letter-spacing: 10%;
}


/* Alarm-page */
.page--alarm {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .5s ease-in-out;
}

.page--alarm-alarmWrapper {
    position: relative;
    display: flex;    
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 31rem;
    
}

.page--alarm-alarmWrapper__circle {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.page--alarm-alarmWrapper__circle--1 {
    width: 31rem;
    height: 31rem;
    background-color: #262626;
    z-index: 1;
    animation: colorShift 2s ease-in-out infinite 1.5s;
}

.page--alarm-alarmWrapper__circle--2 {
    width: 21.5rem;
    height: 21.5rem;
    background-color: #2A2A2A;
    z-index: 2;
    animation: colorShift 2s ease-in-out infinite 1s;
}

.page--alarm-alarmWrapper__circle--3 {
    width: 14.625rem;
    height: 14.625rem;
    background-color: #313131;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    animation: colorShift 2s ease-in-out infinite .5s;
}

.page--alarm-alarmWrapper__circle--4 {
    width: 9.5rem;
    height: 9.5rem;
    background-color: #393939;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: colorShift 2s ease-in-out infinite;
}

.page--alarm-alarmWrapper__circle--soundLeft {
    width: 25%;
    height: auto;
    object-fit: contain;    
    animation: pulseSound 1s ease-in-out infinite;
    transform-origin: center;
}

.page--alarm-alarmWrapper__circle--soundRight {
    width: 25%;
    height: auto;
    object-fit: contain;    
    animation: pulseSoundRight 1s ease-in-out infinite;
    transform-origin: center;
}

.page--alarm-alarmWrapper__circle--bell {
    width: 40%;
    height: auto;
    object-fit: contain;
    transform: translateY(.8rem);
    animation: swingBell .1s ease-in-out infinite;
    transform-origin: top center;
}

.page--alarm__heading {
    margin-top: auto;
    margin-bottom: .6rem;
    color: #FFFFFF;
    z-index: 10;
}

.page--alarm__btn {
    border: 2px solid #A7A7A7;
    background: none;
    border-radius: .375rem;
    width: auto;
    height: auto;
    margin-bottom: 2rem;
    padding: 1rem;
    color: #A7A7A7;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: .1;
    cursor: pointer;
}


/* Nav-page */
/* .menu--hidden {
    
} */

#menu {
    background-color: #222222;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -100vh;
    left: 0;
    z-index: 999;
    transition: transform .2s ease-in-out;
}

#menu.page--active {
    transform: translateY(100vh);
}

#menu.page--inactive {
    transform: translateY(0);    
}

.menu .page-header {
    margin-bottom: auto;
}

.navMenu-closeBtn {
    background: none;
    border: none;    
    width: 2.2rem;
    height: 2.2rem;
    cursor: pointer;
    margin: 1rem 0 0 1rem;
}

.menu__navContainer {
    margin: 0 auto auto auto;
}

.menu__nav {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.menu__item {
    background: none;
    border: none;
    color: #FFFFFF;
    font-size: 2rem;
    cursor: pointer;
}

.navMenu-closeBtn .navMenu-icon__row {
    background-color: #FFFFFF;
    cursor: pointer;
}


  /* KEYFRAMES  */  

@keyframes swingBell {
    0%, 100% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(5deg);
    }
    66% {
        transform: rotate(-5deg);
    }
}

@keyframes pulseSound {
    0%, 100% {
        transform: translate(1rem, -2rem) scale(1);
        filter: blur(0);
    }
    25% {
    }
    50% {
        transform: translate(.8rem, -2.2rem) scale(1.2);
        filter: blur(2px);
    }
    75% {
        filter: blur(1px);
    }
}

@keyframes pulseSoundRight {
    0%, 100% {
        transform: translate(-1rem, -2rem) scale(1);
        filter: blur(0);
    }
    25% {
        filter: blur(1px);
    }
    50% {
        transform: translate(-.8rem, -2.2rem) scale(1.2);
        filter: blur(2px);
    }
    75% {
        filter: blur(1px);
    }
}

/* Cirklarna på alarmsidan */
@keyframes colorShift {
    0% {   
        background-image: radial-gradient(circle, #262626 0%, #262626 50%, #393939 100%);
        filter: brightness(.7);
    }    
    100% {
        background-image: radial-gradient(circle, #262626 0%, #262626 50%, #393939 100%);
        filter: brightness(.65);
    }
}

/* Animera sekundvisaren */
@keyframes rotateSeconds {
    from {
        transform: translateX(-50%) rotate(0deg);
    }
    to {
        transform: translateX(-50%) rotate(-360deg);
    }
}